<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Indique sua ideia de projeto</title>

    <link rel="stylesheet" th:href="@{/css/style-geral.css}">
    <link rel="stylesheet" th:href="@{/css/paginas.css}">

</head>

<body>

<header>
<div class="logo">CEST</div>
<div class="user-icon">Indique sua ideia de projeto</div>

</header>

<div class="form-header">

<a th:href="@{/}" class="back-button">
&#10094;
</a>

<h2>Indique sua ideia de projeto</h2>

</div>
<main class="page-form">

<div class="form-container">

<form>

<div class="form-group">
<label>Nome Completo</label>

<div class="input-row">

<input type="text" placeholder="ex: Marcelo Brandão">
</div>

</div>


<div class="form-group">
<label>Email Institucional</label>

<div class="input-row">

<input type="email" placeholder="ex: marcelo@cest.edu.br">
</div>

</div>


<div class="form-group">
<label>Periodo</label>

<div class="input-row">


<select>
<option>Selecione</option>
<option>1º Periodo</option>
<option>2º Periodo</option>
<option>3º Periodo</option>
<option>4º Periodo</option>
<option>5º Periodo</option>
<option>6º Periodo</option>
<option>7º Periodo</option>
<option>8º Periodo</option>
</select>

</div>

</div>


<div class="form-group">
<label>Descrição do projeto</label>

<div class="input-row">

<textarea placeholder="Descreva seu projeto..."></textarea>
</div>

</div>


<div class="submit-area">
<button type="submit">Enviar</button>
</div>

</form>

</div>

</main>

</body>
</html>