<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Sistema Interno</title>

<link rel="stylesheet" th:href="@{/css/style-geral.css}">
<link rel="stylesheet" th:href="@{/css/paginas.css}">

</head>

<body class="login-page">

<a th:href="@{/}" class="back-login">&#10094;</a>

<div class="login-container">

<h2>Área restrita – Login</h2>

<p class="login-subtitle">
Acesso exclusivo para internos do Escritório Escola
</p>

<form>

<label>E-mail</label>
<input type="text">

<label>Senha</label>
<input type="password">

<button type="submit">Entrar</button>

</form>

</div>

</body>
</html>